{% trans_default_domain 'FOSUserBundle' %}

<div class = "container-fluid login-div">
    <div class="login-div-purple">
        Crear una cuenta
    </div>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class = "mt-1">
        {{ form_label(form.email, 'Email: ', {'label_attr': {'class': 'foo'}}) }}
        {{ form_widget(form.email, {attr: {class: 'form-control'}})}}
        {{ form_errors(form.email) }}
    </div>
    <div class = "mt-1">
        {{ form_label(form.username, 'Nombre de usuario: ', {'label_attr': {'class': 'foo'}}) }}
        {{ form_widget(form.username, {attr: {class: 'form-control'}})}}
        {{ form_errors(form.username) }}
    </div>
    <div class = "mt-1">
        {{ form_label(form.cuit, 'Cuit: ', {'label_attr': {'class': 'foo'}}) }}
        {{ form_widget(form.cuit, {attr: {class: 'form-control', min:'10000000000', max:'99999999999'}})}}
        {{ form_errors(form.cuit) }}
    </div>
    <div class = "mt-1">
        {{ form_label(form.razonSocial, 'Razón Social: ', {'label_attr': {'class': 'foo'}}) }}
        {{ form_widget(form.razonSocial, {attr: {class: 'form-control'}})}}
        {{ form_errors(form.razonSocial) }}
    </div>
    <div class = "mt-1">
        {{ form_label(form.roles, 'Rol: ', {'label_attr': {'class': 'foo'}}) }}
        {{ form_widget(form.roles, {attr: {class: 'form-control'}})}}
        {{ form_errors(form.roles) }}
    </div>
    <div class = "mt-1">
        {{ form_label(form.plainPassword.first, 'Contraseña: ', {'label_attr': {'class': 'foo'}}) }}
        {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control'}})}}
        {{ form_errors(form.plainPassword.first) }}
        <p class ="mt-1 float-right"><input type="checkbox" onclick="showPassword()">Ver</p>
    </div>
    <div class = "mt-1">
        {{ form_label(form.plainPassword.second, 'Confirme la contraseña: ', {'label_attr': {'class': 'foo'}}) }}
        {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control'}})}}
        {{ form_errors(form.plainPassword.second) }}
        <p class ="mt-1 float-right"><input type="checkbox" onclick="showConfirmPassword()">Ver</p>
    </div>
    <br>
    <div class="text-right mt-4">
        <input class= "btn" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    <br>
    {{ form_end(form) }} 
</div>\
<br>
<script src="{{asset('bundles/js/mostrarPW.js')}}"></script>