{% extends 'default/baseFormularios.html.twig' %}

{% block titleForm %} FORMULARIO "A" DE FEED LOOTS {% endblock %}

{% block subTitle %} 9. RESIDUOS {% endblock %}

{% block contenctForms %}
<div class="card-body">
<form id="formularioFL9" action="{{ path('tramiteFL10') }}" method="post">
    <input type="hidden" name="idTramite" value="{{idTramite}}">
    <div class="row">
        <div class="col-md-12">
            <p>DESCRIPCIÓN DE LA GESTIÓN<span class="text-danger">(*)</span></p>
            <textarea class="form-control" name="Residuo[gestion]">{% if Residuo != null %}{{Residuo.gestion}}{% endif %}</textarea>
        </div>
    </div>
    <br>
    <h6>TIPO DE RESIDUO: ESTIÉRCOL<span class="text-danger">(*)</span></h6>
    <div class="row">
        <table id="tablaEstiercol" class="table text-center" >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">CANTIDAD (KG/MES)</th>
                    <th scope="col">EMPRESA DE TRANSPORTE</th>
                    <th scope="col">DESTINO FINAL</th>
                </tr>
            </thead>
            <tbody>
            {% for tratamiento in Tratamientos %}
                <tr>
                    <th scope="row">1</th>
                    <td><input type="text" class="form-control" name="Tratamientos[cantidad][]"  value="{{tratamiento.nombre}}"></td>
                    <td><input type="text" class="form-control" name="Tratamientos[empresaTransportista][]"  value="{{tratamiento.empresaTransportista}}"></td>
                    <td class="media">
                        <input type="text" class="form-control" name="Tratamientos[disposicionFinal][]"  value="{{tratamiento.disposicionFinal}}">
                        <a onClick="eliminarFila(this, 'tablaEstiercol')" class="btn text-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>  
            {% else %}
                <tr>
                    <th scope="row">1</th>
                    <td><input type="text" class="form-control" name="Tratamientos[cantidad][]"  value=""></td>
                    <td><input type="text" class="form-control" name="Tratamientos[empresaTransportista][]"  value=""></td>
                    <td class="media">
                        <input type="text" class="form-control" name="Tratamientos[disposicionFinal][]"  value="">
                        <a onClick="eliminarFila(this, 'tablaEstiercol')" class="btn text-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>  
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a onClick="agregarFila('tablaEstiercol')" class="btn btn-secondary text-light">Agregar estiércol</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('bundles/js/impactoAmbiental/formularioFilas.js')}}"></script>
{% endblock %}