{% trans_default_domain 'FOSUserBundle' %}

<div class = "container-fluid login-div">
    <div class="login-div-purple">
        <a href="{{path('fos_user_profile_show')}}" class="text-white"><i class="fas fa-arrow-circle-left float-left"></i></a>
        <p class="d-inline text-center">Cambiar contraseña</p>
    </div>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
         <div class = "mt-1">
            {{ form_label(form.current_password, 'Contraseña actual: ', {'label_attr': {'class': 'foo'}}) }}
            {{ form_widget(form.current_password, {attr: {class: 'form-control'}})}}
            {{ form_errors(form.current_password) }}
        </div>
        <div class = "mt-1">
            {{ form_label(form.plainPassword.first, 'Contraseña nueva: ', {'label_attr': {'class': 'foo'}}) }}
            {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control'}})}}
            {{ form_errors(form.plainPassword.first) }} 
        </div>
        <div class = "mt-1">
            {{ form_label(form.plainPassword.second, 'Confirme la contraseña: ', {'label_attr': {'class': 'foo'}}) }}
            {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control'}})}}
            {{ form_errors(form.plainPassword.second) }}
        </div>
        <p class ="mt-1 float-right"><input type="checkbox" onclick="showAll()">Ver/Ocultar contraseñas</p>
        <br>
        <div class="text-right mt-4">
            <input class ="btn" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
        <br>
    {{ form_end(form) }}
<div>
<script src="{{asset('bundles/js/mostrarPW.js')}}"></script>
