{% extends 'default/baseFormularios.html.twig' %}
{% block contenct %}   
    <div class="row">
        <div class="col-md-12">
            <div class="card-title alert alert-secondary text-center">
                <h4>{% block titleForm %}Expendio de Combustible{% endblock %}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="text-success">ATENCIÓN: Posiciónese sobre los (?) y lea atentamente cómo completar el formulario. Recuerde que los campos marcados con (*) son campos obligatorios. La referencia (**) se explica al final del presente formulario
            </label>
        </div>
    </div>
    <div class="card">
    <div class="card-title alert alert-secondary text-center">{% block subTitle %}1. INFORMACIÓN DE LA EMPRESA{% endblock %}</div>
    {% block contenctForms %}
        <div class="card-body">
        <form id="formulario" action="{{ path('formularioExpendio2') }}" method="post">
            {# {% if rol is not defined %} #}
            <input type="hidden" name="idTramite" value="{{idTramite ?? null}}">
            {# {% endif %} #}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <p for="razonSocial">Nombre Completo / Razón Social <span class="text-danger">(*)</span><span class="text-success">(?)</span></p>
                        <input type="text" class="form-control" id="razonSocial" name="Persona[razonSocial]" required value="{{Persona.RazonSocial ?? null}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p for="cuit">CUIT <span class="text-danger">(*)</span></p>
                    <input type="number" class="form-control" id="cuit" name="Persona[cuit]" required max="99999999999" min="10000000000" step="1" value="{{Persona.cuit ?? null}}">
                </div>
                <div class="col-md-4">
                    <p for="cuit">MARCA/COLOR/BANDERA <span class="text-danger">(*)</span></p>
                    <input type="text" class="form-control" id="cuit" name="MarcaBandera[nombre]" required value="{{MarcaBandera.nombre ?? null}}">
                </div>
                <div class="col-md-4">
                    <p for="fechaInicio">Fecha Inicio Actividades <span class="text-danger">(*)</span><span class="text-success">(?)</span></p>
                    <div class="form-row">                                        
                    <input type="date" class="form-control" id="fechaInicio" name="Empresa[fechaInicio]" required max="{{ maxDate }}" value="{% if Empresa is defined %}{{ Empresa.FechaInicioActividad|date("Y-m-d") }}{% else %} null {% endif %}">
                    </div>
                </div>
            </div>
            </br>
            <h5>Domiclio Legal</h5>
            <div class="row">                
                <div class="col-md-5">
                    <div class="form-row">                    
                        <p for="calle">CALLE <span class="text-danger">(*)</span></p>
                        <input type="text" class="form-control" id="calle" name="DomicilioLegal[calle]" required value="{% if DomicilioLegal is defined and DomicilioLegal|length >0 %} {{ DomicilioLegal.calle }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-row">                    
                        <p for="nro">N° <span class="text-danger">(*)</span></p>
                        <input type="text" class="form-control" id="nro" name="DomicilioLegal[numero]" required value="{% if DomicilioLegal is defined and DomicilioLegal|length >0 %} {{ DomicilioLegal.numero }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-row">                    
                        <p for="piso">PISO</p>
                        <input type="text" class="form-control" id="piso" name="DomicilioLegal[piso]" required value="{% if DomicilioLegal is defined and DomicilioLegal|length >0 %} {{ DomicilioLegal.piso }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-row">                    
                        <p for="dpto">DPTO</p>
                        <input type="text" class="form-control" id="dpto" name="DomicilioLegal[depto]" required value="{% if DomicilioLegal is defined and DomicilioLegal|length >0 %} {{ DomicilioLegal.depto }} {% endif %}">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-row">
                        <p for="provincia">PROVINCIA <span class="text-danger">(*)</span></p>
                        <select for="provincia" class="form-control" id="provincia" name="DomicilioLegal[provincia]" onChange="parent.provincia('provincia','departamento')" required>
                            <option value="">SELECCIONE UNA PROVINCIA</option>
                            {% for provincia in provincias %}
                                {% if DomicilioLegal is defined and DomicilioLegal|length >0 and DomicilioLegal.provincia.id == provincia.id %}
                                    <option value="{{ provincia.id }}" selected>{{ provincia.nombre }}</option>
                                {% else %}
                                    <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">                    
                        <p for="departamento">DEPARTAMENTO <span class="text-danger">(*)</span></p>
                        <select class="form-control" id="departamento" name="DomicilioLegal[departamento]" required onChange="parent.localidad('departamento','localidad')">
                            <option value="">SELECCIONE UN DEPARTAMENTO</option>                        
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">                    
                        <p for="localidad">LOCALIDAD</p>
                        <select class="form-control" id="localidad" name="DomicilioLegal[localidad]" required onChange="parent.departamento('localidad','codigoPostal')">
                            <option value="">SELECCIONE UNA LOCALIDAD</option>
                        </select>
                    </div>
                </div>            
            </div>
            </br>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-row">
                        <p for="codigoPostal">CP <span class="text-danger">(*)</span></p>
                        <input type="text" class="form-control" id="codigoPostal" name="DomicilioLegal[cp]" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <p for="telefono">TELEFONO/ FAX <span class="text-danger">(*)</span></p>
                        <input type="text" class="form-control" id="telefono" name="DomicilioLegal[telefono]" required value="{% if DomicilioLegal is defined and DomicilioLegal|length >0 %} {{ DomicilioLegal.telefono }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-row">
                        <p for="mail">EMAIL <span class="text-danger">(*)</span><span class="text-success">(?)</span></p>
                        <input type="email" class="form-control" id="mail" name="DomicilioLegal[email]" required value="{% if DomicilioLegal is defined and DomicilioLegal|length >0 %} {{ DomicilioLegal.email }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-row">
                        <p for="confMail">CONFIRMAL EMAIL <span class="text-danger">(*)</span></p>
                        <input type="email" class="form-control" id="confMail" required value="{% if DomicilioLegal is defined and DomicilioLegal|length >0 %} {{ DomicilioLegal.email }} {% endif %}">
                    </div>
                </div>
            </div>
            <br>
            </br>
            <h5>Domiclio Real</h5>
            <div class="row">                
                <div class="col-md-5">
                    <div class="form-row">                    
                        <p for="calle">CALLE <span class="text-danger">(*)</span></p>
                        <input type="text" class="form-control" id="calle" name="DomicilioReal[calle]" required value="{% if DomicilioReal is defined and DomicilioReal|length >0 %} {{ DomicilioReal.calle }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-row">                    
                        <p for="nro">N° <span class="text-danger">(*)</span></p>
                        <input type="text" class="form-control" id="nro" name="DomicilioReal[numero]" required value="{% if DomicilioReal is defined and DomicilioReal|length >0 %} {{ DomicilioReal.numero }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-row">                    
                        <p for="piso">PISO</p>
                        <input type="text" class="form-control" id="piso" name="DomicilioReal[piso]" required value="{% if DomicilioReal is defined and DomicilioReal|length >0 %} {{ DomicilioReal.piso }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-row">                    
                        <p for="dpto">DPTO</p>
                        <input type="text" class="form-control" id="dpto" name="DomicilioReal[depto]" required value="{% if DomicilioReal is defined and DomicilioReal|length >0 %} {{ DomicilioReal.depto }} {% endif %}">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-row">
                        <p for="provincia">PROVINCIA <span class="text-danger">(*)</span></p>
                        <select for="provincia" class="form-control" id="provinciaReal" name="DomicilioReal[provincia]" onChange="parent.provincia('provinciaReal','departamentoReal')" required>
                            <option value="">SELECCIONE UNA PROVINCIA</option>
                            {% for provincia in provincias %}
                                {% if DomicilioReal is defined and DomicilioReal|length >0 and DomicilioReal.provincia.id == provincia.id %}
                                    <option value="{{ provincia.id }}" selected>{{ provincia.nombre }}</option>
                                {% else %}
                                    <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">                    
                        <p for="departamento">DEPARTAMENTO <span class="text-danger">(*)</span></p>
                        <select class="form-control" id="departamentoReal" name="DomicilioReal[departamento]" required onChange="parent.localidad('departamentoReal','localidadReal')">
                            <option value="">SELECCIONE UN DEPARTAMENTO</option>                        
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">                    
                        <p for="localidad">LOCALIDAD</p>
                        <select class="form-control" id="localidadReal" name="DomicilioReal[localidad]" required onChange="parent.departamento('localidadReal','codigoPostalReal')">
                            <option value="">SELECCIONE UNA LOCALIDAD</option>
                        </select>
                    </div>
                </div>            
            </div>
            </br>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-row">
                        <p for="codigoPostal">CP <span class="text-danger">(*)</span></p>
                        <input type="text" class="form-control" id="codigoPostalReal" name="DomicilioReal[cp]" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <p for="telefono">TELEFONO/ FAX <span class="text-danger">(*)</span></p>
                        <input type="text" class="form-control" id="telefono" name="DomicilioReal[telefono]" required value="{% if DomicilioReal is defined and DomicilioReal|length >0 %} {{ DomicilioReal.telefono }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-row">
                        <p for="mail">EMAIL <span class="text-danger">(*)</span><span class="text-success">(?)</span></p>
                        <input type="email" class="form-control" id="mail" name="DomicilioReal[email]" required value="{% if DomicilioReal is defined and DomicilioReal|length >0 %} {{ DomicilioReal.email }} {% endif %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-row">
                        <p for="confMail">CONFIRMAL EMAIL <span class="text-danger">(*)</span></p>
                        <input type="email" class="form-control" id="confMail" required value="{% if DomicilioReal is defined and DomicilioReal|length >0 %} {{ DomicilioReal.email }} {% endif %}">
                    </div>
                </div>
            </div>
            </br>
            <div class="row">            
                <div class="col-md-6">
                    <div class="form-row">
                        <p for="zona>">ZONIFICACIÓN <span class="text-danger">(*)</span></p>
                        <select class="form-control" id="zona" name="DomicilioReal[zona]" required>
                            <option >SELECCIONE UNA</option>
                            <option {% if DomicilioReal is defined and DomicilioReal.zonificacion == 1 %} selected {% endif %} value="1">Industrial</option>
                            <option {% if DomicilioReal is defined and DomicilioReal.zonificacion == 2 %} selected {% endif %} value="2">Rural</option>
                            <option {% if DomicilioReal is defined and DomicilioReal.zonificacion == 3 %} selected {% endif %} value="3">Urbana</option>
                            <option {% if DomicilioReal is defined and DomicilioReal.zonificacion == 5 %} selected {% endif %} value="5">Urbana</option>
                            <option {% if DomicilioReal is defined and DomicilioReal.zonificacion == 4 %} selected {% endif %} value="4">Otras</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="form-row">
                        <p for="titular">TITULARIDAD DEL INMUEBLE<span class="text-danger">(*)</span></p>
                        <select class="form-control" id="titular" name="DomicilioReal[Titular]" required>
                            <option >SELECCIONE UNA</option>
                            <option value="propietario" {% if DomicilioReal is defined and DomicilioReal.titularInmueble == 'propietario' %} selected {% endif %}>PROPIETARIO</option>
                            <option value="alquilado" {% if DomicilioReal is defined and DomicilioReal.titularInmueble == 'alquilado' %} selected {% endif %}>ALQUILADO</option>
                            <option value="concesion" {% if DomicilioReal is defined and DomicilioReal.titularInmueble == 'concesion' %} selected {% endif %}>CONCESÓN</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col" rowspan="2" class="text-top">NÚMERO DE PARTIDA INMOBILIARIA<span class="text-danger">(*)</span></th>
                                <th scope="col" colspan="2" class="text-center">COORDENADAS GEOGRÁFICAS: <span class="text-danger">(*)</span></th>
                            </tr>
                            <tr>
                                <th>LAT:</th><th>LONG:</th>
                            </tr>
                        </thead>
                        <tbody id="filas">
                            {% if PartidaInmobiliaria is defined %}
                                {% for partida in PartidaInmobiliaria %}
                                    <tr>
                                        <td><input type="text" name="Coordenadas[partida][]" required value="{{partida.numero}}"/></td>
                                        <td><input type="text" name="Coordenadas[lat][]" required value="{{partida.latitud}}"/></td>
                                        <td><input type="text" name="Coordenadas[long][]" required value="{{partida.longitud}}"/></td>
                                        <td>
                                            <a onClick="eliminarFila(this,{{partida.id}})" class="btn text-danger"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr> 
                                {% endfor %}                        
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a onClick="agregarFila()" class="btn btn-secondary text-light">Agregar Fila</a>
                    <span class="text-success">(?)</span>
                </div>
            </div>
        </div>
    {% endblock %}
        <div class="row">
            <div class="col-md-12 text-right">                
                {% if rol is empty %}
                    {% if "tramite" in app.request.attributes.get('_route') %}
                        <a href="{{ path('misTramites',{'idTramite': idTramite ?? 0} ) }}" class="back"><button class="btn btn-outline-dark">Volver</button></a>
                    {% endif %}
                    <input type="submit" class="btn btn-primary" value="Siguiente" />
                    <a href="{{ path('misTramites') }}" class="btn btn-danger">Salir</a>
                {% else %}
                    <a href="{{ path('formulario',{'idTramite': idTramite ?? 0},{'rol':'admin'} ) }}" class="back"><button class="btn btn-outline-dark">Volver</button></a>
                    <a class="btn btn-primary siguiente">Siguiente</a>
                    <a href="{{ path('/admin/listadoTramite',{'rol':'admin'}) }}" class="btn btn-danger"  data-toggle="modal" data-target="#crearNoticias">Rechazar</a>
                {% endif %}
            </div>
        </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{asset('bundles/js/formularioA8.js')}}"></script>
    <script src="{{asset('bundles/js/domicilio.js')}}"></script>
    <script src="{{asset('bundles/js/volver.js')}}"></script>
    <script>
    {% if (DomicilioLegal is defined) %}
        $( document ).ready(function() {
            $("#provincia").trigger("change");
            setTimeout(function(){
                $("#departamento").val({{DomicilioLegal.departamento.id}});
                $("#departamento").trigger("change");
            }, 16000);
            setTimeout(function(){
                $("#localidad").val({{DomicilioLegal.localidad.id}});
                $("#localidad").trigger("change");
            }, 32000);
        });        
    {% endif %}
    {% if (DomicilioReal is defined) %}
        $( document ).ready(function() {
            $("#provinciaReal").trigger("change");
            setTimeout(function(){
                $("#departamentoReal").val({{DomicilioReal.departamento.id}});
                $("#departamentoReal").trigger("change");
            }, 16000);
            setTimeout(function(){
                $("#localidadReal").val({{DomicilioReal.localidad.id}});
                $("#localidadReal").trigger("change");
            }, 32000);
        });        
    {% endif %}
    </script>
{% endblock %}