{% extends 'default/index.html.twig' %}

{% block contenct %}
<div class="row">
    <div class="col-md-12">
        <div class="card-title alert alert-secondary text-center"><h4>FORMULARIO A</h4></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="text-success">ATENCIÓN: Posiciónese sobre los (?) y lea atentamente cómo completar el formulario. Recuerde que los campos marcados con (*) son campos obligatorios. La referencia (**) se explica al final del presente formulario</label>        
    </div>
</div>
<div class="card">
    <div class="card-title alert alert-secondary text-center">2. DOMICILIO LEGAL <span class="text-success">(?)</span></div>
    <div class="card-body">
        <form action="{{ path('tramiteA2') }}" method="post">
        {# {% if idtramite is defined %} #}
        <input type="hidden" name="idTramite" value="{{idTramite}}">
        {# {% endif %} #}
        <div class="row">
            <div class="col-md-5">
                <div class="form-row">                    
                    <p for="calle">CALLE <span class="text-danger">(*)</span></p>
                    <input type="text" class="form-control" id="calle" name="Domicilio[calle]" required value="{% if Domicilio is defined and Domicilio|length >0 %} {{ Domicilio.calle }} {% endif %}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-row">                    
                    <p for="nro">N° <span class="text-danger">(*)</span></p>
                    <input type="text" class="form-control" id="nro" name="Domicilio[numero]" required value="{% if Domicilio is defined and Domicilio|length >0 %} {{ Domicilio.numero }} {% endif %}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-row">                    
                    <p for="piso">PISO</p>
                    <input type="text" class="form-control" id="piso" name="Domicilio[piso]" required value="{% if Domicilio is defined and Domicilio|length >0 %} {{ Domicilio.piso }} {% endif %}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-row">                    
                    <p for="dpto">DPTO</p>
                    <input type="text" class="form-control" id="dpto" name="Domicilio[depto]" required value="{% if Domicilio is defined and Domicilio|length >0 %} {{ Domicilio.depto }} {% endif %}">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-row">
                    <p for="provincia">PROVINCIA <span class="text-danger">(*)</span></p>
                    <select for="provincia" class="form-control" id="provincia" name="Domicilio[provincia]" onChange="parent.provincia('provincia','departamento')" required>
                        <option value="">SELECCIONE UNA PROVINCIA</option>
                        {% for provincia in provincias %}
                            {% if Domicilio is defined and Domicilio|length >0 and Domicilio.provincia.id == provincia.id %}
                                <option value="{{ provincia.id }}" selected>{{ provincia.nombre }}</option>
                            {% else %}
                                <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row">                    
                    <p for="departamento">DEPARTAMENTO <span class="text-danger">(*)</span></p>
                    <select class="form-control" id="departamento" name="Domicilio[departamento]" required onChange="parent.localidad('departamento','localidad')">
                        <option value="">SELECCIONE UN DEPARTAMENTO</option>                        
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row">                    
                    <p for="localidad">LOCALIDAD</p>
                    <select class="form-control" id="localidad" name="Domicilio[localidad]" required onChange="parent.departamento('localidad','codigoPostal')">
                        <option value="">SELECCIONE UNA LOCALIDAD</option>
                    </select>
                </div>
            </div>            
        </div>
        </br>
        <div class="row">
            <div class="col-md-2">
                <div class="form-row">
                    <p for="codigoPostal">CP <span class="text-danger">(*)</span></p>
                    <input type="text" class="form-control" id="codigoPostal" name="Domicilio[cp]" readonly>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-row">
                    <p for="telefono">TELEFONO/ FAX <span class="text-danger">(*)</span></p>
                    <input type="text" class="form-control" id="telefono" name="Domicilio[telefono]" required value="{% if Domicilio is defined and Domicilio|length >0 %} {{ Domicilio.telefono }} {% endif %}">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-row">
                    <p for="mail">EMAIL <span class="text-danger">(*)</span><span class="text-success">(?)</span></p>
                    <input type="email" class="form-control" id="mail" name="Domicilio[email]" required value="{% if Domicilio is defined and Domicilio|length >0 %} {{ Domicilio.email }} {% endif %}">
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-12 text-right">
                {% if rol is empty %}
                    <a href="{{ path('formularioIndustriasEstudioImpactoAmbiental',{'idTramite': idTramite ?? 0} ) }}" class="back"><button class="btn btn-outline-dark">Volver</button></a>
                    <input type="submit" class="btn btn-primary" value="Siguiente" />
                    <a href="{{ path('misTramites') }}" class="btn btn-danger">Salir</a>
                {% else %}
                    <a href="{{ path('formularioIndustriasEstudioImpactoAmbiental',{'idTramite': idTramite ?? 0},{'rol':'admin'} ) }}" class="back"><button class="btn btn-outline-dark">Volver</button></a>
                    <a href="{{ path('tramiteA3',{'rol':'admin'}) }}" class="btn btn-primary">Siguiente</a>
                    <a href="{{ path('/admin/listadoTramite',{'rol':'admin'}) }}" class="btn btn-danger"  data-toggle="modal" data-target="#crearNoticias">Rechazar</a>                                    
                {% endif %}
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('bundles/js/domicilio.js')}}"></script>
    <script src="{{asset('bundles/js/volver.js')}}"></script>
    <script>
    {% if userSession.Roles[0] == 'ROLE_ADMIN' %}
        $('input, select').attr('readonly',true);
        $('input, select').prop('required',false);
    {% endif %}
    {% if (Domicilio is defined) %}
        $( document ).ready(function() {           
            $("#provincia").trigger("change");
            setTimeout(function(){
                $("#departamento").val({{Domicilio.departamento.id}});
                $("#departamento").trigger("change");
            }, 7000);
            setTimeout(function(){
                $("#localidad").val({{Domicilio.localidad.id}});
                $("#localidad").trigger("change");
            }, 16000);
        });        
    {% endif %}
    $('#confMail').focusout(function(){
        if($('#confMail').val()!=$('#mail').val()){
            alert('Los mail no son iguales');
            $('.btn-success').attr('disabled',true);
            $('.btn-primary').attr('disabled',true);
        }else{
            $('.btn-success').attr('disabled',false);
            $('.btn-primary').attr('disabled',false);
        }
    })
    </script>
{% endblock %}