{% extends 'default/baseFormularios.html.twig' %}

{% block titleForm %} FORMULARIO "A" DE CATEGORIZACIÓN LOTEOS CON FINES DE URBANIZACIÓN {% endblock %}

{% block subTitle %} 3. DOMICILIO LEGAL <span class="text-success" data-toggle="tooltip" title="Se consignarán los siguientes datos donde se remitirán todas las notificaciones y correspondencias">(?)</span> {% endblock %}

{% block contenctForms %}
<div class="card-body">
<form id="formularioU3" action="{{ path('tramiteU4') }}" method="post">
    <input type="hidden" name="idTramite" value="{{idTramite}}">
    <div class="row">
        <div class="col-md-5">
            <div class="form-row">
                <label for="calle" class="labels">CALLE <span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" id="calle" name="Domicilio[calle]" value="{% if Domicilio is defined %}{{Domicilio.calle}}{% endif %}" required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-row">
                <label for="nro" class="labels">N° <span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" id="nro" name="Domicilio[numero]" value="{% if Domicilio is defined %}{{Domicilio.numero}}{% endif %}" required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-row">
                <label for="piso" class="labels">PISO</label>
                <input type="text" class="form-control" id="piso" name="Domicilio[piso]" value="{% if Domicilio is defined %}{{Domicilio.piso}}{% endif %}" >
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-row">
                <label for="dpto" class="labels">DEPTO</label>
                <input type="text" class="form-control" id="dpto" name="Domicilio[depto]" value="{% if Domicilio is defined %}{{Domicilio.depto}}{% endif %}" >
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>Provincia: <span class="text-danger">(*)</span></p>
            <select for="provincia" class="form-control" id="provincia" name="Domicilio[provincia]" onChange="parent.provincia('provincia','departamento')" required>
                <option value="">SELECCIONE UNA PROVINCIA</option>
                {% for provincia in provincias %}
                    {% if Domicilio is defined and Domicilio|length >0 and Domicilio.provincia.id == provincia.id %}
                        <option value="{{ provincia.id }}" selected>{{ provincia.nombre }}</option>
                    {% else %}
                        <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <p>Departamento: <span class="text-danger">(*)</span></p>
            <select class="form-control" id="departamento" name="Domicilio[departamento]" required onChange="parent.localidad('departamento','localidad')">
                {% if Domicilio is defined %}
                <option value="{{Domicilio.departamento.id}}">{{Domicilio.departamento.nombre}}</option>   
                {% endif %}
                <option value="">SELECCIONE UN DEPARTAMENTO</option>                        
            </select>
        </div>
        <div class="col-md-4">
            <p>Localidad: <span class="text-danger">(*)</span></p>
            <select class="form-control" id="localidad" name="Domicilio[localidad]" required onChange="parent.departamento('localidad','codigoPostal')">
                {% if Domicilio is defined %}
                    <option value="{{Domicilio.localidad.id}}">{{Domicilio.localidad.nombre}}</option> 
                {% endif %}
                <option value="">SELECCIONE UNA LOCALIDAD</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row mt-2">
       <div class="col-md-3">
            <p>CP: <span class="text-danger">(*)</span></p>
            <input type="text" class="form-control" value="{% if Domicilio is defined %}{{Domicilio.localidad.codigoPostal}} {% endif %}"  id="codigoPostal" name="Domicilio[cp]" readonly>
        </div>
        <div class="col-md-3">
            <p>Teléfono / Fax: <span class="text-danger">(*)</span></p>
            <input type="text" value="{% if Domicilio is defined %}{{Domicilio.telefono}} {% endif %}" class="form-control" name="Domicilio[telefono]" required />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-5">
            <div class="form-row">
                <label for="mail" class="labels">EMAIL <span class="text-danger">(*)</span> <span class="text-success" data-toggle="tooltip" title="Este email recibirá notificaciones legales.">(?)</span></label>
                <input type="email" class="form-control" id="mail" name="Domicilio[email]" value="{% if Domicilio is defined %}{{Domicilio.email}} {% endif %}" required>
            </div>
        </div>
        {# <div class="col-md-6">
            <div class="form-row">
                <label for="confMail" class="labels">CONFIRMAL EMAIL <span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" id="confMail" name="confMail">
            </div>
        </div> #}
    </div>
    <br>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('bundles/js/domicilio.js')}}"></script>
{% endblock %}