{% extends 'default/baseFormularios.html.twig' %}

{% block titleForm %} FORMULARIO DE ESTUDIO DE IMPACTO AMBIENTAL PARA LOTEOS CON FINES DE URBANIZACIÓN {% endblock %}

{% block subTitle %} 10. MARCO LEGAL <span class="text-danger">(*)</span><span class="text-success">(?)</span> {% endblock %}

{% block contenctForms %}
<div class="card-body">
<form action="{{ path('tramiteEIAFU10') }}" method="post">
    <input type="hidden" name="idTramite" value="{{idTramite}}">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" name="Marco[especifica]" required>{% if Marco != null %}{{Marco.aplicacionEspecifica}}{% endif %}</textarea>
            </div>
        </div>
    </div>
    <br/>
    <h6>
        10. Plan Arbóreo de la urbanización, rubricado por profesional habilitado según Ley Nº
        9004/82 o la que en el futuro la reemplace. <span class="text-danger">(*)</span>
    </h6>
    {% set i = 1 %}
    <div class="row">
        <div class="col-md-6">
            <input id="archivo{{i}}" class="p-top mb-1" type="file" accept=".pdf"/> 
            <a id="button{{i}}" onclick="subirArchivo({{i}},'10.{{i}}')"  class="btn btn-info text-light">Subir</a>
        </div>
        <div id="nombreArchivo{{i}}" class="col-md-6 p-top">
            {% if Storage1 is defined and Storage1 != null %}
                <div>
                    <h6 class="text-success"><i class='fas fa-check'></i> {{Storage1.nombre}} </h6>
                </div>
            {% endif %}
            <div id="spinner{{i}}" class='spinner form-row'>
                <div class="three-quarters-loader"></div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{asset('bundles/js/archivoIndividual.js')}}"></script>
{% endblock %}