{% extends 'default/baseFormularios.html.twig' %}

{% block titleForm %} FORMULARIO DE ESTUDIO DE IMPACTO AMBIENTAL PARA LOTEOS CON FINES DE URBANIZACIÓN {% endblock %}

{% block subTitle %} 1. PRESENTACIÓN INICIAL {% endblock %}

{% block contenctForms %}
<div class="card-body">
<form action="{{ path('tramiteEIAFU1') }}" method="post">
    <input type="hidden" name="idTramite" value="{{idTramite}}">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h6>1.1 - Número de expediente de categoría ambiental <span class="text-danger">(*)</span></h6>
                <input type="text" value="{% if Loteo is defined %}{{Loteo.numeroExpediente}}{% endif %}" name="Loteo[numero]" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h6>1.2 - Nombre comercial del loteo <span class="text-danger">(*)</span></h6>
                <input type="text" value="{% if Loteo is defined %}{{Loteo.nombre}}{% endif %}" name="Loteo[nombre]" class="form-control" required />
            </div>
        </div>
    </div>
    
    <hr/>
    {# ###### DATOS IDENTIFICATORIOS #}
    <h6>1.3 DATOS IDENTIFICATORIOS</h6>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p for="razonSocial">Nombre completo / Razón social: <span class="text-danger">(*)</span> <span data-toggle="tooltip" data-placement="right"  title="Se consignarán los datos de identificación para cada planta o establecimiento solicitados en la declaración jurada" class="text-success">(?)</span></p>
                <input type="text" value="{% if Persona is defined %}{{Persona.razonSocial}}{% endif %}" class="form-control" name="Persona[razonSocial]" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p for="cuit">CUIT: <span class="text-danger">(*)</span></p>
            <div class="form-row">                    
                <div class="col-md-3">
                    <input type="numeric" class="form-control" id="cuit" value="{% if Persona is defined %}{{Persona.cuit|slice(0,2)}}{% endif %}" name="Persona[cuit][]" required maxlength="2" value="{% if Persona is defined %} {{Persona.cuit|slice(0,2)}} {% endif %}">
                </div>
                <div class="col-md-5">
                    <input type="numeric" class="form-control" id="cuit" value="{% if Persona.cuit is defined %}{{Persona.cuit|slice(2,8) }}{% endif %}"  name="Persona[cuit][]" required maxlength="8" minlength="7" value="{% if Persona.cuit is defined %} {{Persona.cuit|slice(2,8) }} {% endif %}">
                </div>
                <div class="col-md-3">
                    <input type="numeric" class="form-control" id="cuit"  value="{% if Persona is defined %}{{ Persona.cuit|slice(10,1) }}{% endif %}" name="Persona[cuit][]" required maxlength="1" value="{% if Persona is defined %} {{ Persona.cuit|slice(10,1) }} {% endif %}">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p for="entidad">Tipo de Entidad: </p>
            <div class="form-row">                                        
                <select class="custom-select" name="Empresa[tipoEntidad]" required>
                    <option value="">Seleccione</option>
                    <option value="1" {% if (Empresa is defined and Empresa.tipoPersona == 1) %} selected {% endif %} >Persona Física</option>
                    <option value="2" {% if (Empresa is defined and Empresa.tipoPersona == 2) %} selected {% endif %}>Sociedad de Hecho</option>
                    <option value="3" {% if (Empresa is defined and Empresa.tipoPersona == 3) %} selected {% endif %}>Persona Jurídica</option>
                </select>
            </div>
        </div>
    </div>
    <br/>
    <hr/>
    {# ##### DOMICILIO LEGAL #}
    <h6>1.4 DOMICILIO LEGAL <span data-toggle="tooltip" data-placement="right"  title="Se consignarán los siguientes datos donde se remitirán todas las notificaciones y correspondencia" class="text-success">(?)</span></h6>
    <br/>
    <div class="row">
        <div class="col-md-8">
            <p>Calle: <span class="text-danger">(*)</span></p>
            <input type="text" class="form-control" value="{% if Domicilio is defined %}{{Domicilio.calle}}{% endif %}" name="Domicilio[calle]" required />
        </div>
        <div class="col-md-2">
            <p>N°: <span class="text-danger">(*)</span></p>
            <input type="text" class="form-control" value="{% if Domicilio is defined %}{{Domicilio.numero}}{% endif %}" name="Domicilio[numero]" required />
        </div>
        <div class="col-md-1">
            <p>Piso: </p>
            <input type="text" class="form-control" value="{% if Domicilio is defined %}{{Domicilio.piso}}{% endif %}" name="Domicilio[piso]" required />
        </div>
        <div class="col-md-1">
            <p>Depto: </p>
            <input type="text" class="form-control" value="{% if Domicilio is defined %}{{Domicilio.depto}}{% endif %}" name="Domicilio[depto]" required />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <p>Provincia: <span class="text-danger">(*)</span></p>
            <select for="provincia" class="form-control" id="provincia" name="Domicilio[provincia]" onChange="parent.provincia('provincia','departamento')" required>
                <option value="">SELECCIONE UNA PROVINCIA</option>
                {% for provincia in provincias %}
                    {% if Domicilio is defined and Domicilio|length >0 and Domicilio.provincia.id == provincia.id %}
                        <option value="{{ provincia.id }}" selected>{{ provincia.nombre }}</option>
                    {% else %}
                        <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <p>Departamento: <span class="text-danger">(*)</span></p>
            <select class="form-control" id="departamento" name="Domicilio[departamento]" required onChange="parent.localidad('departamento','localidad')">
                {% if Domicilio is defined %}
                <option value="{{Domicilio.departamento.id}}">{{Domicilio.departamento.nombre}}</option>   
                {% endif %}
                <option value="">SELECCIONE UN DEPARTAMENTO</option>                        
                    
            </select>
        </div>
        <div class="col-md-4">
            <p>Localidad: <span class="text-danger">(*)</span></p>
            <select class="form-control" id="localidad" name="Domicilio[localidad]" required onChange="parent.departamento('localidad','codigoPostal')">
                
                {% if Domicilio is defined %}
                    <option value="{{Domicilio.localidad.id}}">{{Domicilio.localidad.nombre}}</option> 
                {% endif %}
                <option value="">SELECCIONE UNA LOCALIDAD</option>
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <p>CP: <span class="text-danger">(*)</span></p>
            <input type="text" class="form-control" value="{% if Domicilio is defined %}{{Domicilio.localidad.codigoPostal}} {% endif %}"  id="codigoPostal" name="Domicilio[cp]" readonly>
        </div>
        <div class="col-md-3">
            <p>Teléfono / Fax: <span class="text-danger">(*)</span></p>
            <input type="text" value="{% if Domicilio is defined %}{{Domicilio.telefono}} {% endif %}" class="form-control" name="Domicilio[telefono]" required />
        </div>
        <div class="col-md-6">
            <p>Email: <span data-toggle="tooltip" data-placement="right"  title="Este mail recibirá notificaciones legales" class="text-danger">(*)</span></p>
            <input type="email"  value="{% if Domicilio is defined %}{{Domicilio.email}} {% endif %}" class="form-control" name="Domicilio[email]" required />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <p>Confirmar email: <span class="text-danger">(*)</span></p>
            <input type="email" value="{% if Domicilio is defined %}{{Domicilio.email}} {% endif %}" id="emailConfirmar" class="form-control" required />
        </div>
    </div>    
    <hr>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{asset('bundles/js/domicilio.js')}}"></script>
{% endblock %}



{# {% extends 'default/baseFormularios.html.twig' %}

{% block titleForm %} FORMULARIO DE ESTUDIO DE IMPACTO AMBIENTAL PARA LOTEOS CON FINES DE URBANIZACIÓN {% endblock %}

{% block subTitle %} 1. OBJETO DE SUBDIVISIÓN {% endblock %}

{% block contenctForms %}
<div class="card-body">
<form action="{{ path('formularioImpactoAmbientalFinUrbanizacion') }}" method="post">
    <input type="hidden" name="idTramite" value="{{idTramite}}">

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %} #}